* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
/* -------------------------Main Game Page--------------------- */
.gamePage {
  /* height: 100vh; */
  /* width:100vw; */
  background: url("/img/bg-dark.png");
  /* padding:2rem; */
}

.boxContainer {
  display: flex;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  background: url("/img/bg-wool-white.png");
}
/* Holds the inventory boxes */
.inventoryDiv {
  width: 95vw;
  /* max-width: 1000px; */
  justify-content: flex-end;
  padding: 0 1rem;
}

.toolDiv {
  flex-flow: column;
  justify-content: space-evenly;
}

.btns {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.btn {
  margin: 1rem 0;
  display: block;
  width: 9rem;
  height: 4rem;
  border: 2px solid #8e8e8e;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  outline: none;
  cursor: pointer;
}
.inventoryBox {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0.5rem;
}

.inventoryBox:hover,
.tool:hover,
.btn:hover {
  border: 2px solid #8e8e8e;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  animation-name: floating;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(1px, 1px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.boxDisabled {
  opacity: 0.3;
  cursor: unset;
}

.invevtoryBox-cnt {
  font-size: 4rem;
  color: azure;
}

/* ----------------------------------  Tool Div --------------------------------- */
/* Side pan holds the tools and reset/quit buttons                                */

.tool {
  height: 8rem;
  width: 10rem;
  margin-bottom: 1rem;
}

.selectedTool,
.selectedTile {
  border: 2px solid #8e8e8e;
  box-shadow: 7px 2px 25px 2px #04cdf1;
}

.container {
  display: flex;
  justify-content: center;
}
.gameMatrix {
  width: 95vw;
  /* max-width: 1000px; */
  height: 88vh;
  max-height: 1000px;
  background-color: darkgray;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.pixel {
  width: 100%;
  height: 100%;
}

.pixel:hover {
  opacity: 0.7;
}

/* ------------------------------------ Tiles --------------------------------- */

.sky {
  background-color: #80abff;
}

.treeTop {
  background: url("/img/treetop.jpg") center center/cover;
}

.treeLog {
  background: url("/img/treeLog.jpeg") center center/cover;
}

.rock {
  background: url("/img/rock.jpg") center center/cover;
}

.dirt {
  background: url("/img/dirt.jpg") center/cover;
  opacity: 0.6;
}

.dirtTop {
  background: url("/img/dirtTop.png");
}

/* ------------------------------- Tools ----------------------------------- */

.axe {
  background: url("/img/axe.png") no-repeat center center/contain;
}

.pickaxe {
  background: url("/img/pickaxe.png") no-repeat center center/contain;
}

.shovel {
  background: url("/img/shovel.png") no-repeat center center/contain;
}

.decImage {
  background: url("/img/bg-wool-white.png");
  /* background: url("/img/download.jpeg") no-repeat center center/cover; */
  width: 10rem;
}
