* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

html {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
  /* overflow: hidden; */
}

/* -------------------------landingPage--------------------- */

#landingPage {
  width: 99vw;
  height: 100vh;
  color: whitesmoke;
  background: url("/img/explore.png") no-repeat center center/cover;
  /* overflow: hidden; */
}

.wellcomeMsg {
  background-color: black;
  opacity: 0.5;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.wellcomeMsg .btn {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quit.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

/* -------------------------Main Game Page--------------------- */
#gamePage {
  width: 99vw;
  height: 100vh;
  background: url("/img/bg-dark.png");
}

.boxContainer {
  display: flex;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  background: url("/img/bg-wool-white.png");
}

/* Holds the inventory boxes */
.inventoryDiv {
  width: 99vw;
  justify-content: space-between;
  padding-left: 1rem;
}

.toolDiv {
  flex-flow: column;
  justify-content: space-evenly;
  width: 10rem;
}

.btn {
  margin: 1rem 0;
  display: block;
  width: 8rem;
  height: 4rem;
  border: 2px solid #8e8e8e;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  outline: none;
}
.tile {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid #8e8e8e;
  margin: 0.5rem;
}

/* If a tile is not available to remove by current tool,
 *  it will be displayed unavilable */
.tile.unavailable span {
  display: none;
}

.inventoryDiv .boxContainer,
.toolDiv {
  box-shadow: none;
}
.inventoryBox:hover,
.tool:hover,
.btn:hover,
.tile:hover {
  border: 2px solid #8e8e8e;
  box-shadow: 7px 8px 15px 2px #8e8e8e;
  animation-name: floating;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(1px, 1px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.boxDisabled {
  opacity: 0.3;
  cursor: unset;
}

.counter {
  font-size: 4rem;
  color: yellowgreen;
  margin-right: 0.5rem;
}

/* ----------------------------------  Tool Div --------------------------------- */
/* Side pan holds the tools and reset/quit buttons                                */

.tool {
  height: 8rem;
  width: 8rem;
  margin-bottom: 1rem;
}

.selectedTool,
.selectedTile,
.selected {
  border: 2px solid #8e8e8e;
  box-shadow: 7px 2px 25px 2px #04cdf1;
}

.container {
  display: flex;
  justify-content: center;
}

.col {
  flex-direction: column;
  align-items: center;
}

.gameMatrix {
  width: 95vw;
  height: 88vh;
  max-height: 1000px;
  background-color: darkgray;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #0271b3;
}

.dark {
  background-color: black;
}

.cell:hover {
  opacity: 0.7;
}

/* ------------------------------------ Tiles --------------------------------- */

.unavailable {
  opacity: 0.2;
  cursor: unset;
}

.sky {
  background-color: #0271b3;
}

.treeTop {
  background: url("/img/treetop.jpg") no-repeat center center/cover;
}

.treeLog {
  background: url("/img/treeLog.jpeg") no-repeat center center/cover;
}

.rock {
  background: url("/img/rock.jpg") no-repeat center center/cover;
}

.dirt {
  background: url("/img/dirt.jpg") no-repeat center center/cover;
}

.dirtTop {
  background: url("/img/dirtTop.png") no-repeat center center/cover;
}

.cloud {
  background: url("/img/cloud.jpeg") no-repeat center center/cover;
}

.sun {
  background-color: yellow;
  box-shadow: 20px 20px 50px orangered;
}

.moon {
  background-color: white;
  box-shadow: 20px 20px 50px yellow;
}

/* ------------------------------- Tools ----------------------------------- */

.axe {
  background: url("/img/axe.png") no-repeat center center/contain;
}

.pickaxe {
  background: url("/img/pickaxe.png") no-repeat center center/contain;
}

.shovel {
  background: url("/img/shovel.png") no-repeat center center/contain;
}

.wind {
  background: url("/img/windmil.png") no-repeat center center/cover;
}

.logo {
  background: url("/img/logo.png") no-repeat center center/contain;
  width: 30rem;
  height: 8rem;
  align-self: center;
}

.decImage {
  background: url("/img/bg-wool-white.png");
  width: 10rem;
}

.landscape {
  width: 99vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/img/rotate1.jpeg") no-repeat center center/contain;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  display: none;
}

.landscape h2 {
  background-color: black;
  opacity: 0.8;
}

/*----------------------------------- Media Queries ---------------------------*/

@media all and (max-width: 959px) and (orientation: portrait) {
  .landscape {
    display: block;
  }

  html {
    font-size: 10px;
  }
  .tool {
    height: 4rem;
    width: 4rem;
  }
  .tile {
    height: 4rem;
    width: 4rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media all and (max-width: 959px) and (orientation: landscape) {
  .landscape {
    display: none;
  }

  html {
    font-size: 10px;
  }
  .tool {
    height: 4rem;
    width: 4rem;
  }
  .tile {
    height: 4rem;
    width: 4rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media all and (max-width: 680px) and (orientation: portrait) {
  html {
    font-size: 8px;
  }
  .landscape {
    display: block;
  }
  .counter {
    font-size: 1rem;
  }
}

@media all and (max-width: 680px) and (orientation: landscape) {
  .landscape {
    display: none;
  }

  html {
    font-size: 8px;
  }

  .counter {
    font-size: 2rem;
  }
}
